@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Holtwood+One+SC|Londrina+Shadow|Luckiest+Guy');
html {
	background: url(../images/background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

nav {
	max-width: 960px;
	mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
	margin: 0 auto;
	padding: 10px 0;
}

nav ul {
	text-align: center;
	border-radius: 20px;
	background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li {
	display: inline-block;
}

nav ul li a {
	padding: 18px;
	font-family: 'Ubuntu', sans-serif;
	text-transform: uppercase;
	color: rgba(0, 35, 122, 0.5);
	font-size: 18px;
	text-decoration: none;
	display: block;
}

nav ul li a:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
	background: rgba(255, 255, 255, 0.1);
	color: rgba(0, 35, 122, 0.7);
}

body {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.p-left {
	float: left;
}

.p-right {
	float: right;
}

#head {
	/* width:500px; */
	height: auto;
	font-size: 5em;
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: 'Luckiest Guy', cursive;
	color: #0168b3;
}

#one {
	max-width: 130px;
	max-height: 130px;
}

#two {
	width: 50%;
	height: 50%;
	z-index: 1;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -25%;
	/* Half the height */
	margin-left: -25%;
	/* Half the width */
}

#section-cta {
	width: 764px;
	background: #6ba2e017;
	overflow: hidden;
	font-family: 'Ubuntu', sans-serif;
	padding: 0 0 20px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
	border-radius: 20px;
}

.icon-box {
	margin: 0 30px;
}

.icon-wrap {
	width: 134px;
	height: 134px;
	border-radius: 81px;
	padding: 11px;
	margin: 0 auto;
	z-index: 500;
	overflow: hidden;
	display: block;
	position: relative;
}

.icon-border {
	border: 3px solid #1d72d1;
	border-radius: 81px;
	width: 129px;
	height: 129px;
}

.icon-content {
	background: #fff;
	border-radius: 81px;
	width: 129px;
	height: 129px;
}

span.icon {
	position: relative;
	top: 35px;
	left: 30px;
}

.box-wrap {
	/*background: #f0f0f0 url(http://mmhimages.fnistools.com/images/RECos/1252/img/box-bg.png);*/
	width: 300px;
	height: 300px;
	padding: 11px;
	margin: -83px auto 0;
	z-index: 1;
	display: block;
	positiion: relative;
	border-radius: 20px;
}

.box-content {
	background: #fff;
	width: 260px;
	height: 220px;
	padding: 80px 20px 0;
	position: relative;
	border-radius: 20px;
}

.box-content h3 {
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 40px;
}

.box-content p {
	text-align: center;
	color: #737373;
	font-size: 18px
}

.box-content a {
	color: #fff;
	background: #0168b3;
	width: 150px;
	display: block;
	padding: 20px 20px;
	font-size: 16px;
	text-decoration: none;
	text-align: center;
	position: absolute;
	top: 75%;
	left: 20%;
	border-radius: 20px;
}

#section-mec {
	margin-top: 2%;
	margin-bottom: 3%;
	clear: both;
	overflow: hidden;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
}

.section-mec-content {
	margin-left: auto;
	margin-right: auto;
	max-width: 700px;
}

.section-mec-content h2 {
	color: #1fb25a;
	font-size: 30px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
}

.section-mec-content ul {
	margin: 0;
	padding: 20px 0 0;
}

.section-mec-content ul li {
	display: block;
	float: left;
	padding: 0 55px;
}

.section-mec-content ul li a {
	display: block;
	float: left;
	text-align: center;
}

#section-city {
	font-family: 'Ubuntu', sans-serif;
	clear: both;
	padding: 40px 0;
	overflow: hidden;
}

.scc-box {
	float: left;
	width: 261px;
	border: 1px solid #d2d2d2;
	margin: 0 11px;
	text-align: center;
	font-size: 14px;
}

.scc-box h4 {
	background: #0168b3 url(http://mmhimages.fnistools.com/images/RECos/1252/img/box-bg.png);
	margin: 0;
	padding: 10px;
	font-weight: 400;
	text-transform: uppercase;
	color: #fff;
	font-size: 24px;
}

.scc-box p {
	margin: 0;
	padding: 0 0 20px;
}

.scc-box ul {
	padding: 10px 0;
}

.scc-box ul li {
	margin: 5px 0;
}

.scc-box ul li a {
	color: #7f7f7f;
	font-size: 14px;
	text-decoration: none;
}

.scc-box a {
	color: #1fb059;
	text-decoration: none;
}

#section-mec {
	margin-top: 100px;
}

i {
	font-size: 0.9em;
	padding: 0.1em;
	margin-bottom: 0.5em;
	color: #0168b3;
}